ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.hidden {
  display: none;
}
/* Common */
.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
/* Header */

.header-wrapper {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation-list {
  display: none;
}
.contact-items {
  display: none;
}
.weblogo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-align: left;
  line-height: 1.17;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-span-part {
  color: #2e2f42;
}
.header-logo {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
}
.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.burger-icon {
  display: block;
  fill: #2f2f37;
}
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .header-logo {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 120px;
  }
  .page-nav {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .navigation-list {
    font-family: Roboto;
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .navigation-list:hover,
  .navigation-list:focus {
    color: #404bbf;
  }
  .navigation-list:active {
    color: #404bbf;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
  }
  .first-navigation-link {
    color: #2e2f42;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .first-navigation-link:hover,
  .first-navigation-link:focus {
    color: #404bbf;
  }
  .first-navigation-link.current {
    position: relative;
    color: #404bbf;
  }
  .first-navigation-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
    height: 4px;
  }
  .contact-items {
    font-style: normal;
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .contact-item {
    color: #434455;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-item:hover,
  .contact-item:focus {
    color: #404bbf;
  }

  .contacts:hover .contacts.focus {
    color: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .contact-items {
    flex-direction: row;
    gap: 40px;
  }
  .contact-items {
    font-size: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* mobile menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: #2e2f42;
  cursor: pointer;
  padding: 0;
  line-height: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-close:hover,
.mobile-menu-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.mobile-menu-navigation {
  margin-bottom: auto;
}
.mobile-navigation-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 168px;
}
.mobile-navigation-link.current {
  color: #404bbf;
}
.mobile-navigation-link {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-navigation-link:hover,
.mobile-navigation-link:focus {
  color: #404bbf;
}
.mobile-contact-list {
  margin-bottom: 48px;
}
.mobile-contact-item {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-contact-item:hover,
.mobile-contact-item:focus {
  color: #4d5ae5;
}
.mobile-menu-social-webs {
  display: flex;
  gap: 40px;
}
.mobile-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  line-height: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-social-list-link:hover,
.mobile-social-list-link:focus {
  background-color: #31d0aa;
}
.mobile-menu-section-icon {
  fill: #ffffff;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/* hero image section */
.hero-image-section {
  max-width: 320px;
  min-height: 432px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-mobile-picture.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2e2f42;
  padding-top: 72px;
  padding-bottom: 72px;
}
.main-heading {
  font-family: Roboto, sans-serif;
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: 1.04;
  max-width: 216px;
  margin-left: auto;
  margin-right: auto;
}
.order-service-button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  cursor: pointer;
  max-width: 169px;
  height: 56px;
  display: block;
  border: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 4px;
  min-width: 169px;
  margin-top: 72px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-service-button:hover,
.order-service-button:focus {
  color: #ffffff;
  background-color: #404bbf;
}
@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .hero-image-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-mobile-picture@x2.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero-image-section {
    max-width: 768px;
    min-height: 436px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-tablet-picture.jpg);
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .main-heading {
    font-size: 56px;
    line-height: 1.06;
    max-width: 496px;
  }
  .order-service-button {
    margin-top: 36px;
  }
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero-image-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-tablet-picture@x2.jpg);
  }
}
@media screen and (min-width: 1158px) {
  .hero-image-section {
    max-width: 1440px;
    min-height: 600px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-desktop-picture.jpg);
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .order-service-button {
    margin-top: 48px;
  }
}
@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero-image-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-desktop-picture@x2.jpg);
  }
}
/* advantage section */
.advantage-section {
  padding-top: 96px;
  padding-bottom: 96px;
}
.advantages-description {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
}
.advantage-icon {
  display: none;
}
.advantage-info {
  width: 100%;
}
.advantage-title {
  font-family: Roboto;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.advantage-text {
  font-family: Roboto;
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: left;
  line-height: 24px;
}
@media screen and (min-width: 768px) {
  .advantages-description {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }
  .advantage-info {
    width: calc((100% - 24px) / 2);
  }
  .advantage-title {
    text-align: left;
  }
}
@media screen and (min-width: 1158px) {
  .advantage-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .advantage-info {
    width: calc((100% - 72px) / 4);
  }
  .advantage-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
  }
  .advantage-text {
    font-weight: 400;
    line-height: 1.5;
  }
  .advantage-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }
}
/* our team section */
.second-heading-section {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}
.second-heading-title {
  font-family: Roboto;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  line-height: 1.11;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 72px;
}
.third-section-list {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.workers-info {
  padding-top: 32px;
  padding-bottom: 32px;
}
.name-title {
  font-family: Roboto;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 8px;
}
.job-title {
  font-family: Roboto;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 8px;
}
.workers-social-webs {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-list-wrapper {
  display: flex;
  column-gap: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  line-height: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}
.advantage-section-icon {
  fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }
  .third-section-list {
    width: calc((100% - 24px) / 2);
    max-width: 264px;
  }
  .team-list-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1158px) {
  .second-heading-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .third-section-list {
    width: calc((100% - 72px) / 4);
  }
}
/* portflio section */
.portfolio-section {
  padding-top: 96px;
  padding-bottom: 96px;
}
.fourth-section-title {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: 1.11;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-section-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 48px;
}
.portfolio-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-title {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
  line-height: 1.2;
  margin-bottom: 8px;
}
.portfolio-text {
  font-family: Roboto;
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  background-color: #ffffff;
}
.portfolio-image-wrapper {
  position: relative;
  overflow: hidden;
}
.portfolio-item:hover .overlay-text {
  transform: translateY(0%);
}
.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: #f4f4fd;
  overflow: auto;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .portfolio-section-list {
    flex-direction: row;
    column-gap: 24px;
  }
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .portfolio-section-list {
    gap: 24px;
    row-gap: 48px;
  }
  .portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}
/* footer */
.footer {
  background-color: #2e2f42;
}
.footer-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 96px;
  padding-bottom: 96px;
}
.footer-logo-info {
  padding-bottom: 72px;
}
.weblogo-footer {
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  text-transform: uppercase;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  padding-left: 102px;
  padding-right: 102px;
}
.logospan-part {
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  color: #f4f4fd;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
}

.footer-title {
  margin-bottom: 16px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  display: flex;
  justify-content: center;
}
.footer-text {
  font-family: Roboto;
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  max-width: 288px;
  margin-top: 16px;
}
.footer-social-links-list {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding-bottom: 72px;
}
.social-webs-link {
  display: flex;
  gap: 16px;
  width: 40px;
}
.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  line-height: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: #31d0aa;
}
.footer-form-for-users {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.footer-form-title {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #ffffff;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}
.footer-email-input {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.footer-email-input::placeholder {
  color: #ffffff;
}
.footer-form-user-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
.footer-button-subscribe-icon {
  margin-left: 16px;
}
@media screen and (min-width: 768px) {
  .footer-info {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    row-gap: 72px;
  }
  .footer-logo-info {
    padding-bottom: 18px;
  }
  .footer-social-links {
    display: flex;
    flex-direction: column;
  }
  .weblogo-footer {
    padding-left: 0;
    padding-right: 0;
  }
  .footer-title {
    justify-content: flex-start;
  }
  .footer-social-links-list {
    justify-content: center;
  }
  .footer-form {
    margin-left: 108px;
    margin-right: 207px;
  }
  .footer-email-input {
    width: 264px;
  }
  .footer-form-for-users {
    flex-direction: row;
    justify-content: center;
    align-content: center;
    row-gap: 24px;
  }
  .footer-form-title {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1158px) {
  .footer-info {
    padding-top: 100px;
    padding-bottom: 100px;
    row-gap: 0;
    flex-wrap: nowrap;
    align-items: baseline;
    column-gap: 0px;
    row-gap: 0px;
  }
  .footer-logo-info {
    margin-right: 120px;
    padding-bottom: 0;
  }
  .footer-text {
    max-width: 264px;
  }
  .weblogo-footer {
    display: inline-block;
    margin-bottom: 16px;
  }
  .footer-title {
    margin-bottom: 16px;
  }
  .footer-form {
    padding-left: 80px;
    margin-left: 0;
    margin-right: 0;
  }
  .footer-form-title {
    margin-bottom: 16px;
    margin-left: 20px;
  }
  .footer-email-input {
    padding-left: 16px;
  }
}
/* modal backdrop */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  background-color: #fcfcfc;
  overflow: auto;
  border-radius: 4px;
  padding-top: 72px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: #2e2f42;
  cursor: pointer;
  padding: 0;
  line-height: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-window-title {
  font-family: Roboto;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 256px;
  margin-bottom: 16px;
}
.review-form-wrapper {
  display: block;
  margin-bottom: 8px;
}
.review-form-wrapper-comment {
  display: block;
  margin-bottom: 16px;
}
.review-form-label {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-align: left;
  display: block;
  margin-bottom: 4px;
}
.review-form-input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #2e2f42;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-input:focus {
  outline: none;
  border-color: #4d5ae5;
}
.review-form-input-wrapper {
  position: relative;
}
.input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-input:focus + .input-icon {
  fill: #4d5ae5;
}
.review-class-comment {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  resize: none;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-align: left;
  background-color: transparent;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-class-comment:focus {
  outline: none;
  border-color: #4d5ae5;
}
.review-class-comment::placeholder {
  color: #2e2f4266;
}
.review-span-custom-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-input-checkbox:checked
  + .review-form-checkbox-label
  > .review-span-custom-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.review-form-input-checkbox:focus
  + .review-form-checkbox-label
  > .review-span-custom-checkbox {
  border-color: #404bbf;
}

.review-form-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-align: left;
  color: #8e8f99;
}
.review-policy-link {
  text-decoration: underline;
}
.review-policy-link.accent-color {
  color: #4d5ae5;
}
.review-form-checkbox-wrapper {
  margin-bottom: 24px;
}
.review-form-submit-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-submit-button:hover,
.review-form-submit-button:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding-top: 72px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
  }
  .modal-window-title {
    max-width: 360px;
  }
}
