ul,
ol {
  list-style-type: none;
  margin:0;
  padding:0;
}
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p {
  margin:0;
}
a {
  text-decoration: none;
  color: inherits;
}
img {
  display:block;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 1158px;
  padding-left: 15px; 
  padding-right: 15px;  
  margin-left: auto;
  margin-right: auto;
}
.header-wrapper {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display:flex;
  align-items: center;
  
}
.page-nav {
  display:flex;
 align-items: center;
}

.weblogo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-align: left;
  line-height: 1.17;
  text-transform: uppercase;
  color: #4d5ae5;
  }
.logo-span-part {
  color: #2e2f42;
}
.header-logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
}
.navigation-list {
  font-family: Roboto;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  display:flex;
  align-items: center;
  gap: 40px;
  
  }
.navigation-list:hover,
.navigation-list:focus {
  color: #404bbf;
}
.navigation-list:active {
  color: #404bbf;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}
.first-navigation-link {
  color: #2e2f42;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.first-navigation-link:hover,
.first-navigation-link:focus {
  color: #404bbf;
}
.first-navigation-link.current {
position:relative;
color: #404bbf;
}
.first-navigation-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
  height: 4px;
}
.contacts {
  font-family: Roboto;
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  font-style: normal;
  margin-left: auto;
   }
.contacts:hover 
.contacts.focus {
  color: #404bbf;
}
.contact-item {
  color: #434455;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-item:hover,
.contact-item:focus {
  color: #404bbf;
}
.contact-items {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: flex;
  gap: 40px;
  }
.hero-image-section {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-image.jpg);
  background-size: cover;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: auto;
  margin-left: auto;
}
.main-heading {
  font-family: Roboto, sans-serif;
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: 1.07;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}
.order-service-button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  cursor: pointer;
  max-width: 169px;
  height: 56px;
  display: block;
  border: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 4px;
  min-width: 169px;
  margin-top:48px;
 transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-service-button:hover,
.order-service-button:focus {
  color: #ffffff;
  background-color: #404BBF;
}
.advantage-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.advantages-description {
  display: flex;
  gap: 24px;
}
.advantage-info {
  width: calc((100% - 72px) / 4);
  column-gap: 24px;
}
.advantage-title {
  font-family: Roboto;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 8px;
}
.advantage-text {
  font-family: Roboto;
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
  text-align: left;
  line-height: 1.5;
}
.advantage-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

.second-heading-section {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
  
}
.second-heading-title {
  font-family: Roboto;
  color: #2e2f42;
   font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  line-height: 1.11;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
  
}
.third-section-list {
  background-color: #ffffff;
  gap: 24px; 
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  gap: 24px; 
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
.workers-info {
padding-top: 32px;
padding-bottom: 32px;
}
.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
  }
.name-title {
  font-family: Roboto;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  display:flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 8px;
}
.job-title {
  font-family: Roboto;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  display:flex;
  justify-content: center;
  text-align: center;
  margin-bottom:8px;
}
.workers-social-webs {
  display:flex;
  justify-content: center;
  gap:24px;
  
}
.social-list-wrapper {
  display: flex;
  column-gap: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width:40px;
  height:40px;
  border-radius: 50%;
  background-color: #4D5AE5;
  line-height: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: #404BBF;
}
.advantage-section-icon {
  fill: #f4f4fd;
  
}
.fourth-section-title {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: 1.11;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-section-list {
  display:flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-title {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
  line-height: 1.2;
  margin-bottom: 8px
}
.portfolio-text {
  font-family: Roboto;
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  background-color: #ffffff;
}
.portfolio-image-wrapper {
  position:relative;
  overflow: hidden;
}
.portfolio-item:hover .overlay-text{
  transform: translateY(0%);
  }
.overlay-text {
position: absolute;
top:0;
left:0;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
text-align: left;
line-height: 1.5;
letter-spacing: 0.02em;
width: 100%;
height: 100%;
background-color: #4D5AE5;
color: #f4f4fd;
overflow: auto;
padding: 40px 32px;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-info {
  display: flex;
  align-items: baseline;
}
.footer-text {
  font-family: Roboto;
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  max-width: 264px;
  
  
}
.footer-logo-info {
  margin-right: 120px;
}
.weblogo-footer {
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  text-transform: uppercase;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-bottom: 16px; 
  
}
.logospan-part {
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  color: #f4f4fd;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
}
.footer-title {
  display: flex;
  margin-bottom: 16px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;

}
.footer-social-links-list {
  display: flex;
  gap: 16px;
}
.social-webs-link {
  display: flex;
  gap: 16px;
  width:40px;
}
.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:16px;
  width: 40px;
  height:40px;
  border-radius: 50%;
  background-color: #4D5AE5;
  line-height: 0;
  transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: #31D0AA;
}
.footer-form {
  padding-left:80px;
  }
.footer-form-for-users{
  display: flex;
  gap:24px;
}
.footer-form-title {
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
color: #FFFFFF;
margin-bottom: 16px;
margin-left:20px;
}
.footer-email-input {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #ffffff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.footer-email-input::placeholder {
  color: #FFFFFF;
}
.footer-form-user-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  background-color: #4D5AE5;
  font-family: "Roboto", sans-serif; 
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
}
.footer-button-subscribe-icon {
  margin-left: 16px;
}
.modal-backdrop {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background-color: #FCFCFC;
  overflow: auto;
  border-radius: 4px;
  padding-top: 72px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right:24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height:24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: #2E2F42;
  cursor: pointer;
  padding:0;
  line-height:0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff
}
.modal-window-title {
font-family: Roboto;
color: #2E2F42;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
text-align: center;
max-width: 360px;
margin-bottom: 16px;
}
.review-form-wrapper {
  display: block;
  margin-bottom: 16px;
}
.review-form-label{
color:#8E8F99;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
text-align: left;
display: block;
margin-bottom:4px;
}
.review-form-input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  outline: transparent;
  padding-left:38px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #2E2F42;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition:border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-input:focus {
  outline: none;
  border-color:#4D5AE5;
}
.review-form-input-wrapper {
  position:relative;
}
.input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2E2F42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .review-form-input:focus + .input-icon {
  fill:#4D5AE5;
  }
  .review-class-comment {
    width:100%;
    height: 120px;
    border-radius: 4px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    resize: none;
    color: rgba(46, 47, 66, 0.4);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-align: left;
    background-color: transparent;
    outline: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition:border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .review-class-comment:focus {
    outline:none;
    border-color:#4D5AE5;
  }
  .review-class-comment::placeholder {
    color: #2E2F4266;
  }
  .review-span-custom-checkbox {
    display:inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    cursor: pointer;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.review-form-input-checkbox:checked 
+ .review-form-checkbox-label 
>.review-span-custom-checkbox{
background-color: #404BBF;
border:none;
fill: #F4F4FD;
}
.review-form-input-checkbox:focus 
+ .review-form-checkbox-label 
>.review-span-custom-checkbox {
border-color: #404BBF;
}

.review-form-checkbox-label {
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
text-align: left;
color: #8e8f99;
}
.review-policy-link {
  text-decoration: underline;
}
.review-policy-link.accent-color {
  color: #4D5AE5;
}
.review-form-checkbox-wrapper {
  margin-bottom: 24px;
}
.review-form-submit-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width:169px;
  height: 56px;
  background-color: #4D5AE5;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-submit-button:hover,
.review-form-submit-button:focus {
  background-color: #404BBF;
}