.web-logo {
    font-family: Raleway;
    
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: left;    
}
.first-nav-list{
    font-family: Roboto;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left; 
}
.first-nav-list :hover {
font-family: Roboto;
color: #404BBF;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
}
.first-nav-list :active {
color:#404BBF;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;

}
.contacts {
font-family: Roboto;
color: #434455;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
}
.contacts :hover {
color:#404BBF;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;

}
.hero-image-section {
background-color: #2E2F42;
}
.main-heading {
font-family: Roboto;
color: #FFFFFF;
font-size: 56px;
font-weight: 700;
line-height: 60px;
letter-spacing: 0.02em;
text-align: center;
}
.order-service-button {
color: #4D5AE5;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.04em;
text-align: left;
cursor: pointer;
}
.order-service-button :hover {
    color:#404BBF;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.04em;
text-align: left;
cursor: pointer;
}
.advantage-title {
font-family: Roboto;
color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
}
.advantage-text {
font-family: Roboto;
color: #434455;
font-size: 16px;
font-weight: 400;
letter-spacing: 0.02em;
text-align: left;
}
.second-header-section{
    background-color: 
#F4F4FD;

}
.second-header-title{
    font-family: Roboto;
    color: #2E2F42;
    
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
}

.name-title {
font-family: Roboto;
color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
}
.job-title {
font-family: Roboto;
color:#434455;
;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
}
.portfolio-title {
font-family: Roboto;
color:#2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
}
.portfolio-text {
font-family: Roboto;
color:#434455;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
}
.footer-text {
font-family: Roboto;
color:#F4F4FD;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;

}